<head>

    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGR5DQ8');</script>
  <!-- End Google Tag Manager -->
  
  <!-- Global site tag (gtag.js) - Google Ads: 782951825 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-782951825"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-782951825');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <!-- SEO Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
      <meta property="og:title" content="{{ site.title }} - {{ site.tagline }}" />
      <meta name="twitter:title" content="{{ site.title }} - {{ site.tagline }}" />
    {% endif %}
    {% if page.title %}
      <meta property="og:type" content="article" />
    {% else %}
      <meta property="og:type" content="website" />
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
      <meta property="og:description" content="{{ site.description }}" />
      <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    {% if page.url %}
      <link rel="canonical" href="{{ site.url }}{{ page.url }}">
      <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %}
    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
      <meta property="article:author" content="{{ page.author }}" />
    {% endif %}
    {% if page.feature %}
      <meta property="og:image" content="{{ site.github.url }}{{ page.feature }}" />
      <meta name="twitter:image:src" content="{{ site.github.url }}{{ page.feature }}" />
    {% else %}
      <meta property="og:image" content="{{ site.github.url }}{{ site.thumbnail }}" />
      <meta name="twitter:image:src" content="{{ site.github.url }}{{ site.thumbnail }}" />
    {% endif %}
      <meta property="og:locale" content="{{ site.locale }}" />
      <meta property="og:site_name" content="{{ site.title }}" />
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta property="article:section" content="{{ category }}" />
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif %}
    <!-- End SEO Tag -->
    <meta name="naver-site-verification" content="3a6a9edec645c5c970996c2dd1c3fddda46c4cf6" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>


</head>
