<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<!-- Messenger 채팅 플러그인 Code -->
    <!-- <div id="fb-root"></div> -->

    <!-- Your 채팅 플러그인 code -->
    <!-- <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "101952305051289");
      chatbox.setAttribute("attribution", "page_inbox");
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ko_KR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script id="60d6a766cfa1c27409b548d9" src="https://dashboard.chatfuel.com/integration/fb-entry-point.js" async defer></script> -->



<body class="{% if page.url == '/' %}{% assign class = 'home' %}{{ class }}{% endif %}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGR5DQ8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %} -->

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
      {{ content }}
  </main>
  <!-- end content -->

  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

  {% include footer.html %}


  {% include javascripts.html %}
</body>

</html>
